BYBIT_API_KEY=your_bybit_api_key
BYBIT_API_SECRET=your_bybit_secret
SYMBOL=SOL/USDT:USDT
INTERVAL=15m
LEVERAGE=10
RISK_ALLOC=0.60
POSITION_MODE=oneway
RF_SOURCE=close
RF_PERIOD=20
RF_MULT=3.5
RF_LIVE_ONLY=true
RF_HYST_BPS=6
RSI_LEN=14
ADX_LEN=14
ATR_LEN=14
MAX_SPREAD_BPS=8
TP1_PCT_BASE=0.40
TP1_CLOSE_FRAC=0.50
BREAKEVEN_AFTER=0.30
TRAIL_ACTIVATE_PCT=1.20
ATR_TRAIL_MULT=1.6
FINAL_CHUNK_QTY=0.2
RESIDUAL_MIN_QTY=0.05
COOLDOWN_SEC=90
MAX_TRADES_PER_HOUR=6
PORT=5000
SELF_URL=
